.home-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 28.4rem;
    background-color: #FBFCFD;
    padding-bottom: 2rem;

}

.header1-container {
    display: flex;
    width: 102.4rem;
    height: 15.5rem;
    flex-direction: column;

    >:nth-child(1) {
        margin-top: 3.8rem;

        >span {
            font-size: 4.8rem;
            color: #2C384A;
        }
    }


    >:nth-child(2) {
        height: 4.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #E1E4E6;
        border-bottom: 1px solid #E1E4E6;
        margin-top: 1rem;

        >:nth-child(1) {
            display: flex;
            align-items: center;
            height: 20px;

            >div {
                height: auto;
                display: flex;
                align-items: center;

                >img {
                    width: 1.3rem;
                    height: 1.3rem;
                }

                >span {
                    font-size: 1.3rem;
                    color: #4B5665;
                    margin-left: 0.5rem;
                }


            }

            >:nth-child(2) {
                margin-left: 1rem;
            }

        }

        >:nth-child(2) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 11rem;
            height: 2rem;

            >span {
                font-size: 1.4rem;
                color: #727D87;
            }

            >img {
                width: 2.4rem;
                height: 2.4rem;
            }
        }
    }


}

.category-container {
    width: 102.4rem;
    height: 3.6rem;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-self: space-between;

    >a {
        display: flex;
        align-items: center;
        padding: 0.8rem;
        width: 10.5rem;
        height: 3.6rem;
        background-color: #ffffff;
        font-size: 1.3rem;
        text-decoration: none;
        color: #727D87;
        margin-left: 3rem;
        border-radius: 1.2rem;

    }

    >:first-child {
        margin-left: 0;
    }


}

.link-container {
    margin-top: 1rem;
    width: 102.4rem;
    height: 2.4rem;
    display: flex;

    >span {
        font-size: 1.4rem;
        text-decoration: none;
        color: #727D87;
        margin-left: 1rem;
    }

    >:first-child {
        margin-left: 0;
    }
}



.card-container {
    display: flex;
    flex-direction: column;
    width: 102.4rem;
    height: auto;

    .card {
        display: flex;
        width: 102.4rem;
        height: auto;
        margin-top: 3rem;
        background-color: #ffffff;
        position: relative;

        .choices {
            position: absolute;
            width: 12.5rem;
            height: 3.4rem;
            left: -1rem;
            top: -1.7rem;
            border-radius: 0 0.8rem 0.8rem 0;
            background-color: #FF7724;
            display: flex;
            align-items: center;
            justify-content: center;

            >img {
                width: 1.6rem;
                height: 1.6rem;
            }

            >span {
                font-size: 1.6rem;
                color: #ffffff;
                margin-left: 0.5rem;
            }
        }

        .counting {
            position: absolute;
            width: 4.4rem;
            height: 4.4rem;
            left: -2.2rem;
            top: 2.2rem;
            border-radius: 50%;
            background-color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;

            >span {
                font-size: 2rem;
                color: #626E79;
            }
        }

        .first {
            width: 20%;
            height: auto;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            >img {
                width: 14.1rem;
                height: 10.3rem;
            }

            >span {
                margin-top: 1rem;
            }

        }

        .second {
            width: 50%;
            height: auto;
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            >span {
                width: 49.0rem;
                font-size: 1.6rem;
                color: #4B5665;

                >span {
                    font-weight: bold;
                }
            }



            >div {
                width: 49.0rem;
                margin-top: 1rem;

                >span {
                    font-size: 1.6rem;
                    color: #2C384A;
                    font-weight: bold;
                }

                >div {
                    width: 48.3rem;
                    margin-left: 2rem;
                    margin-top: 1rem;

                    >span {
                        font-size: 1.6rem;
                        color: #4B5665;


                    }
                }

                .main-highlight {
                    width: 50.5rem;
                    height: 11.6rem;
                    border-radius: 1.2rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    background-color: #FFF4ED;

                    >div {
                        margin-left: 2rem;

                        >:nth-child(1) {
                            width: 2.4rem;
                            height: 2.4rem;
                            font-size: 1.6rem;
                            background-color: #ffffff;
                            color: #1B88F4;

                        }

                        >:nth-child(2) {
                            font-size: 1.6rem;
                            margin-left: 1rem;
                            color: #4B5665;
                        }
                    }
                }


                .we-love {
                    margin-left: 0;
                    display: flex;
                    flex-direction: column;


                    >div {
                        display: flex;
                        align-items: center;
                        margin-top: 1rem;

                        >img {
                            width: 2.4rem;
                            height: 2.4rem;
                        }

                        >span {
                            font-size: 1.4rem;
                            margin-left: 1rem;
                        }
                    }
                }
            }

            >:nth-child(3) {
                margin-top: 1rem;

                >button {
                    margin-top: 1rem;
                    color: #1B88F4;
                    border: none;
                    background-color: #ffffff;
                    margin-bottom: 1rem;
                }
            }



        }

        .third {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 30%;
            height: auto;


            >div {
                width: 13.5rem;
                height: 11.8rem;
                background-color: #F3F9FF;
                border-radius: 0 0 1.2rem 1.2rem;
                display: flex;
                flex-direction: column;
                align-items: center;

                >:nth-child(1) {
                    margin-top: 0.5rem;
                    font-size: 3.2rem;
                }

                >:nth-child(2) {
                    margin-top: 1rem;
                    font-size: 1.4rem;
                }

                >div {
                    height: 1.1rem;
                    width: 6.6rem;
                    margin-top: 0.5rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }

            >button {
                margin-bottom: 1rem;
                width: 23.2rem;
                height: 4.8rem;
                border-radius: 1.2rem;
                border: none;
                background-color: #1B88F4;
                color: white;
                font-size: 1.6rem;
            }

        }
    }

}

.related-deals-container {
    width: 102.4rem;
    height: auto;
    margin-top: 2rem;

    >span {
        font-size: 3.2rem;
        color: #2C384A;
    }

    >div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 2rem;
        width: 100%;
        height: auto;

        >div {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 33.3rem;
            height: 42.5rem;
            background-color: #ffffff;
            padding: 1rem;
            border-radius: 1.2rem;

            >:nth-child(1) {
                width: 100%;
                height: 20rem;
                display: flex;
                align-items: center;
                justify-content: center;

                >img {
                    width: 14.3rem;
                    height: 10.3rem;
                }
            }

            >:nth-child(2) {
                width: 100%;
                margin-top: 1rem;
                display: flex;
                align-items: center;

                >span{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 2rem;
                    background-color: #F2F4F7;
                    font-size: 1.3rem;
                    border-radius: 0.8rem;
                    padding: 0 0.3rem;
                    color:#074786
                }

                >:nth-child(2){
                    margin-left: 1rem;
                }
            }

            >:nth-child(3) {
                width: 100%;
                margin-top: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;

                >span{
                   color: #626E79;
                   font-size: 1.6rem;
                }
            }

            >:nth-child(4) {
                width: 100%;
                margin-top: 1rem;
                font-size: 1.6rem;
                color: #626E79;
                line-height: 2.4rem;
            }

            >:nth-child(5) {
                width: 100%;
                margin-top: 1rem;
                display: flex;
                align-items: center;

                >:nth-child(1){
                    font-size: 2rem;
                    color:#5C6874;
                }

                >:nth-child(2){
                    margin-left: 1rem;
                    font-size: 1.4rem;
                    color: #9FA9B3;
                }

                >:nth-child(3){
                    margin-left: 1rem;
                    color:#EF4C5D;
                    font-size: 1.3rem;
                }
            }

            >:nth-child(6) {
                width: 100%;
                display: flex;
                margin-top: 1rem;
                align-items: center;
                justify-content: center;

                >button {
                    width: 35rem;
                    height: 4.8rem;
                    border-radius: 1.2rem;
                    background-color: #1B88F4;
                    font-size: 1.6rem;
                    color: #FFFFFF;
                    border: none;

                }
            }

        }
    }
}


.signup-container{
   width: 102.4rem;
   margin-top: 4rem;
   display: flex;
   align-items: center;
   justify-content: space-between;

   >:nth-child(1){
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    >span{
        font-size: 3.2rem;
        color:#5C6874;
    }
   }

   >:nth-child(2){
    >input{
        background-color: #ffffff;
        border: none;
        outline: none;
        height: 5rem;
        width: 34.8rem;
        padding: 0.5rem 1rem;
        border-radius: 1.2rem 0 0 1.2rem;
    }
    >button{
        background-color: #1B88F4;
        border: none;
        outline: none;
        height: 5rem;
        width: 9.7rem;
        padding: 0.5rem;
        border-radius: 0rem 1.2rem 1.2rem 0rem;
        color: #ffffff;
    }
   }
}

.footer-container{
    width: 100%;
}